<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio II</title>
</head>
<body>
    <header>
        <nav>
            <a href=""><span>Home</span></a>
            <a href=""><span>Projects</span></a>
            <a href=""><span>Contact</span></a>
        </nav>
    </header>
    <div class=title>My Projects</div>
    <div class=column>
        <div>
        <img src="" alt="project 1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
        </div>
        <div>
        <img src="" alt="project 2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
        </div>
        <div>
        <img src="" alt="project 3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
        </div>
    </div>
    
</body>
</html>